// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.background-list{
    height: 500px;
    background-image: url(../../public/img/beer-bg.jpeg);
    background-size: cover;
}

.table-container{
    text-align: center;

    .title-table{
        font-size: 20px;
    }

    .list-table{
        font-size: 18px;


        > td{
            vertical-align: middle;

            .action-button{
                margin-right: 15px;
            }

        }


    }

    .beers-table > td{
        background-color: white;
    }


}

.description-container > p{
    width: 800px;
    margin: 0 auto;
}

h3{
    text-align: center;
}


.form-container{
    width: 800px;
    margin: 0 auto;
    margin-top: 100px;
}


